.heading-1{
	color: red;
	text-align: center;
}
.yvideo{
	width: 560px;
	height:315px;
}

ul{
	list-style-type: square;	
}
table{
	border: 1px solid black;

}
.new_heading{
	display: inline;	
}
.span-tag{
	display: block;
}
.div-tag{
	display:inline-block ;
}
.map{
	width: 350px;
	height: 300px;
	border: 2px solid black;
}
.red{
	color: red;
	font-size: 25px;
 }
 .div-new{
 	font-size: 25px;
 	 }
